body{        
    font-family: Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: #fff;
    background-color: #000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}



header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 26px 56px;
    position: absolute;
    z-index: 1;
    width: 100%;
}

header a.logo{
    display: block;
}

header .logo svg{
    fill: #e50914;
    height: 37px;
}

header div+div {
    text-align: right;
}

header a.button{
    display: inline-block;
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
    padding: 5px 17px 7px 17px;
    border-radius: 3px;
}

header select{
    background-color: transparent;
    color: white;
    padding: 7px 2px 7px 20px;
    border-radius: 3px;
}

header option{
    background-color: #666;
}

div.splash div.background img{
    max-width: 100%;
    
}

div.splash {
    position: relative;
}

div.splash div.gradiant{
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
    position: absolute;
    inset: 0;
}

div.select svg{
    height: 20px;
    fill: #fff;
    position: absolute;
    margin: 5px 0px 0px 4px;
}

div.select{
    margin-right: 30px;
    display: inline-block;
}

div.splash div.content{
    max-width: 655px;
    position: absolute;
    inset: 0;
    left: 50%;
    margin-left: -327.5px;
    display: grid;
    align-items: center;
    text-align: center;
}

div.splash h1, div.splash h2, div.splash h3{
    font-weight: normal;
}

div.splash h1{
    font-size: 3.12rem;
    font-weight: bold;
}

div.splash h2{
    font-size: 1.625rem;
    margin-top: 13px;
    margin-bottom: 29px;
}

div.rstm h3{
    font-size: 1.2rem;
}

div.rstm form{
    position: relative;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr max-content;
}

div.rstm input{
    padding: 20px 10px;
    font-size: 1.2rem;
    width: 100%;
    z-index: 5;

}

div.rstm input[type="email"] ~ span{
    position: absolute;
    left: 11px;
    top: 20px;
    font-size: 1rem;
    color: rgb(133, 131, 131);
    transition:all .3s ease;
    pointer-events: none;

}

div.rstm input[type="email"]:focus ~ span{
    top: 4px;
    font-size: .8rem;
    font-weight: 600;
}

div.rstm button{
    padding: 18.3px 26px;
    border: 0;
    background-color: #e50914;
    font-size: 1.625rem;
    color: #fff;
}

section.content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 46px;
    padding: 40px 60px; 
    align-items: center;
    border-top: 8px solid #222;


}

.content:nth-child(even) div.text{
    order: 2;
}


section.content div.text h1{
    font-size: 3.125rem;
}

div.text p {
    font-size: 1.625rem;
}

.media {
    position: relative;
    
}

.c1 img {
    width: 485px;
}

.c1 video {
    width: 354px;
    position: absolute;
    top: 76px;
    left: 63px;
    z-index: -1;
}

.media .c2-img {
    width: 450px;
    margin: auto;
}

.media .c2-img2 {
    width: 50px;
}



.c2 .download {
    border: 2px solid #666;
    position: absolute;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    text-align: center;
    bottom: 25px;
    left: 50px;
    background-color: #000;
    border-radius: 15px;
    padding:  10px;
    width: 350px;
    
}

.c2 img.gif {
    width: 50px;
}

.c3 img{
    width: 500px;
}

.c3 video {
    width: 310px;
    position: absolute;
    top: 28px;
    left: 91px;
    z-index: -1;
}

.c4 img{
    width: 520px;
}

div.faq{
    border-top: 8px solid #222;
    padding: 70px 30px;
}

div.faq h2{
    font-size: 3.125rem;
    text-align: center;
    margin-bottom: 40px;
}

div.questions{
    max-width: 835px;
    margin: 0 auto;
    font-size: 1.625rem;
}


div.questions div.question {
    position: relative;
    background-color: #303030;
}

div.faq svg{
    position: absolute;
    width: 40px;
    right: 20px;
    top: 17px;
    transform: rotate(45deg);
    transition: all 0.3s ease;
}

div.question .header{
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

div.question div.q-content {
    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    border-bottom: 8px solid #000;
    transition: all 0.3s ease;
}

div.question input[type="checkbox"] {
    display: none;
}

div.question input[type="checkbox"]:checked ~ .q-content{
    padding: 30px;
    max-height: 600px;
}

div.question input[type="checkbox"]:checked ~ .header svg{
    transform: rotate(90deg);
}

div.faq div.content {
    display: grid;
    text-align: center;
    align-items: center;
    padding: 40px 60px;
}

div.faq h3{
    font-weight: normal;
    margin: 40px 0px 20px;
    text-align: center;
}

div.faq form{
    max-width: 735px;
    margin: 0 auto;
}

footer a{
    text-decoration: none;
    display: block;
    color: #737373;
}

footer{
    border-top: 8px solid #222;
    padding: 60px 280px;
}

footer h4{
    margin-bottom: 30px;
    color: #737373;
    font-weight: normal;
    font-size: 1.05rem;

}

footer .footer-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 60px;
}

footer .info{
    line-height: 35px;
    font-size: 1rem;
}

footer .select{
    position: relative;
    border: 2px solid #222;
    padding: 10px 15px 10px 45px;
    margin-top: 30px;
}

footer .select svg{
    position: absolute;
    left: 6px;
    top: 13.5px;
    fill: #737373;
}

footer select{
    font-size: 1.125rem;
    background-color: #000;
    color: #737373;
    border: none;
    width: 90px;
}

footer .footer-logo{
    color: #737373;
    margin-top: 30px;
}






